<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/artist.css">
    <script src="/static/js/toggledates.js"></script>
    <title>Groupie tnacker</title>
</head>
<body>
    <nav>
        <a href="/">
            <span class="navbar">GroupieTracker</span>
        </a>
    </nav>
    <div class="artist-container">
        <div class="artist-column">
            <h1>{{.Name}}</h1>
            <img src="{{.Image}}" alt="{{.Name}}" class="artist-image">
        </div>
        
        <div class="artist-column">
            <p><strong>Creation Date:</strong> {{.CreationDate}}</p>
            <p><strong>First Album:</strong> {{.FirstAlbum}}</p>
            
            <h2>Members</h2>
            <ul>
                {{range .Members}}
                    <li>{{.}}</li>
                {{end}}
            </ul>
        </div>
        
        <div class="artist-column">
            <h2>Relations</h2>
            <ul>
                {{range $key, $value := .Relation.DatesLocations}}
                    <li>
                        <a href="javascript:void(0);" onclick="toggleDates('location-{{$key}}')">{{$key}}</a>
                        <ul class="dates" id="location-{{$key}}">
                            {{range $value}}
                                <li>{{.}}</li>
                            {{end}}
                        </ul>
                    </li>
                {{end}}
            </ul>
        </div>
    </div>
</body>
</html>
